#profile {
    float: left; 
    margin-right: 20px; 
    border-radius: 50%; 
    width: 130px; 
    height: 130px;
}

h1, h3 {
    margin: 0; 
    line-height: 1.2;
}

h1 {
    margin-top: 10px; 
}

body{
    background-color: #ccc;
}

.sec {
    width: 80%; 
    max-width: 800px; 
    background-color: #e0e0e0; 
    /* border: 2px solid;  */
    padding: 20px; 
    box-sizing: border-box; 
    margin: 50px auto;
    line-height: 1.2;
    font-family: cursive;
} 
table, th, tr, td{
    border: 1px solid #808080;
    border-collapse: collapse;
    padding: 5px;
}
td{
    text-align: center;
}
